.tabset {

    ul.tabs {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 9px 12px;
            border-color: #ddd;
            margin-bottom: -1px;
             
            &.selected {
                border-width: 3px 1px 0 1px;
                border-style: solid;
                border-top-color: #69c;
                background-color: white;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .tab {
        border: 1px solid #ddd;
        padding: 10px 16px;
    }
}
