.tslTabs ul {
  height: 30px;
  background-color: #ccc;
  padding: 0;
  margin: 0; }
  .tslTabs ul li {
    background-color: #ccc;
    float: left;
    display: block;
    cursor: pointer;
    padding: 0 20px 0 20px;
    margin: 0;
    line-height: 30px;
    vertical-align: middle; }
    .tslTabs ul li.tslTabs-selected, .tslTabs ul li:hover {
      background-color: #a6a6a6;
      font-weight: bold; }

.tslTabs .tslTabs-content {
  margin: 0;
  padding: 20px;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  background: #a6a6a6; }

