<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="tabset/tabset.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body ng-app="app">

    <div ng-controller="DemoController as demo">

        <h1>tsl-tabset</h1>

        <a ng-click="demo.count()">count seed</a>
        <a ng-click="demo.tabLabels[0] = 'test' + demo.counter">Change label text</a>

        <tsl-tabset>
            <tsl-tab label="demo.tabLabels[0]">
                Content 1 {{demo.counter}}
                <a ng-click="demo.count()">count seed</a>
            </tsl-tab>
            <tsl-tab label="demo.tabLabels[1]">Content 2  {{demo.counter}}</tsl-tab>
            <tsl-tab label="demo.tabLabels[2]">Content 3  {{demo.counter}}</tsl-tab>
        </tsl-tabset>

        <h1>tsl-email</h1>

        <tsl-email address="demo.emails[0]" subject="'Hello!'"></tsl-email>
        <tsl-email address="demo.emails[1]"></tsl-email>
        <tsl-email address="'test@domain.com'"></tsl-email>

    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="/lib/typescriptLib.js"></script>
    <script src="/lib/typescriptLib.Angular.js"></script>

    <script>
        angular.module('typescriptLib.angular').controller('DemoController', function () {
            this.counter = 5;
            this.tabLabels = ['tab1', 'tab2', 'tab3'];
            this.count = function () {
                this.counter++;
            }

            this.emails = ['mail@domain.com','mail2@domain.net'];
        });
    </script>

</body>
</html>
