.tslDatepicker {
    .button, input{
        height:33px;
    }

    .dropdown-menu {
        user-select: none;
        background: white;
        color: #333;
        padding: 2px;
        display: inline;
        overflow: hidden;
         
        table.navigation {
            width: 100%;

            td {
                border: 1px solid #fff;
            }

            td.nav {
                width: 10%;
            }

            select, a {
                height: 33px;
            }
        }

        table.calendar {
            width: 100%;
            background-color: white;

            thead > tr > th {
                border: none;
                text-align: center;
                font-size: larger;
                padding: 6px 12px;
                font-size: 12px;
            }

            tbody > tr > td {
                cursor: pointer;
                text-align: center;
                padding: 6px 12px;
                background-color: white;
                border-radius: 15px;
                font-size: 13px;
                transition: background-color .3s ease;

                &.weeknumber {
                    color: #999;
                    cursor: text;

                    &:hover {
                        background-color: white;
                        font-weight: normal;
                    }
                }

                &:hover {
                    font-weight: bold;
                    background-color: #ddd;
                    border-radius: 15px;
                }

                &.today {
                    text-decoration: underline;
                    font-weight: bold;
                }

                &.selected {
                    font-weight: bold;
                    color: white;
                    background-color: #69c;
                    border-radius: 15px;
                }

                &.holyday {
                    color: red;
                }

                &.notCurrentMonth {
                    color: #CCC;
                }
            }

            tfoot > tr > td {
                text-align: center;
                padding: 5px 0;
            }
        }
    }


    .time-control,
    .date-control {
        float: left;
    }

    .time-control {
        max-width: 80px;
        margin-left: 2px;

        input {
            height: 33px;
        }
    }
}
