@mixin fold-out($time){
        -webkit-transform: perspective(400) rotate3d(0,0,0,0);
        -moz-transform: perspective(400) rotate3d(0,0,0,0);
        -ms-transform: perspective(400) rotate3d(0,0,0,0);
        -o-transform: perspective(400) rotate3d(0,0,0,0);
        transform: perspective(400) rotate3d(0,0,0,0);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition: $time;
        -moz-transition: $time;
        -o-transition: $time;
        transition: $time;
}
@mixin fold-in(){
        -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
        -moz-transform: perspective(400) rotate3d(1,0,0,-90deg);
        -ms-transform: perspective(400) rotate3d(1,0,0,-90deg);
        -o-transform: perspective(400) rotate3d(1,0,0,-90deg);
        transform: perspective(400) rotate3d(1,0,0,-90deg);
}

.tslDatepicker {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;

    input {
    }

    table.ng-hide {
        @include fold-in();
    }

    table {
        @include fold-out(200ms);

        position: absolute;
        top: 30px;
        left: 1px;
        z-index: 9000;
        background-color: #fff;
        border: solid 1px #ccc;
        width: 300px;


        th {
            text-align: center;
        }

        td, th {
            width: 12.5%;
        }

        td {
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: #4cff00;
            }
        }

        .weeknumber {
            color: #096;
        }

        .holyday {
            color: red;
        }

        .weekend {
            background-color: #ccc;
        }
    }
}
